body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* multiple same command styles */
.section-small-title {
    color: #757575; 
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section-title {
    color: #070211; 
    font-family: Inter;
    font-size: 45px; 
    font-weight: 700; 
    margin-bottom: 25px;
}

/* heading & main-banner style */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 130px 110px;
}

.main-banner {
    width: 1300px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('Banner\ Image.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-banner h4 {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;

}

.main-banner h1 {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    line-height: 90px;
}

/* main & discount-sec  styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discount-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discount-sec h1 {
    color: #FD6E0A;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 15px;
}
.discount-sec img{
    width: 800px;
    height: 500px;
    margin-top: 27px;
    margin-bottom: 1150px;
}